{{ define "content" }}
<main class="container">
  <div class="col-md-12">
    <h1>incr</h1>
    <p id="incr-field" data-default="{{ .Default }}"></p>
    <button id="incr-button" class="btn btn-default">+1</button>
  </div>
</main>
{{ end }}
